@model AuthModels.Index
@{
    ViewBag.Title = "Hello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    This application is an Alexa skill. You can use it by searching for <strong>Logitech Harmony</strong> in the skills section of the Alexa app.
</p>